#container {
	width: 960px;
	background: radial-gradient(circle, white, #563456);
	}
#header {
	background-color: ghostwhite;
	
	}
#header h1 {
	font: 24pt Comic Sans MS;
	font-weight: bold;
	display: inline-block;
	margin: 10px;
	}
#header h2 {
	font: 16pt arial;
	font-weight: bold;
	float: right;
	display: inline-block;
	margin: 20px;
	}
#name {
	
	}
#profile {
	display: inline-block;
	}
#profile img {
	width: 40%;
	margin: 20px;
	float: left;
	border: 5px solid lavender;
	}
#about {
	width: 50%;
	background-color: lavender;
	display: inline-block;
	margin: 20px;
	padding: 0px 0px 25px 0px;
	}
#about p, a {
	font: 12pt arial;
	margin: 10px;
	}
#content {
	display: table;
	overflow: hidden;
	}
.subheader {
	background: linear-gradient(darkgray, gray, darkgray);
	font: 10pt arial;
	padding: 10px;
	margin: 0px;
	}
.subheader h2, h3 {
	color: white;
	text-align: left;
	margin: 0px;
	}
.sub-content {
	width: 30%;
	height: 354px;
	background-color: lavender;
	font: 14px arial;
	margin: 10px 5px 0px 20px;
	display: inline-block;
	vertical-align: top;
	}
.sub-content img {
	width: 100%;
	}
.sub-content p {
	margin: 5px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	}
.technology {
	width: 30%;
	background-color: lavender;
	text-align: center;
	display: inline-block;
	margin: 0px 5px 10px 20px;
	padding-bottom: 20px;
	}
.tech {
	text-align: left;
}
.tech img {
	width: 15%;
	padding: 5px;
	}
.button {
	background-color: teal;
	border-radius: 10px;
	border: 1px solid black;
	display: inline-block;
	font: 15px arial;
	font-weight: bold;
	color: white;
	margin: 0px;
	padding: 5px;
	box-shadow: 5px 5px grey;
	}
#footer {
	width: 960px;
	background-color: ghostwhite;
	text-align: center;
	display: table;
	padding: 0px;
	}
#footer p, ul {
	margin: 5px;
}
#footer ul li, a{
	display: inline;
	margin: 0px 0px 5px 0px;
}
#footer img {
	width: 2%;
	}
